body {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    background-color: #eef1f6;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}


button {
    padding: 12px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

button:hover {
    background: #0056b3;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.movie-card {
    width: 220px;
    background: #ffffff;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-card h3 {
    font-size: 18px;
    margin: 12px 0;
    font-weight: 600;
    color: #333;
}
